<!DOCTYPE>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/semantic-ui/2.2.10/semantic.min.js"></script>
  </head>
  <body>
    <%- include('components/nav') %>
    <%- include('components/nav-setting') %>
    <%- include('components/notification') %>
    if(treeNode.isParent){
    						if(treeNode.checked){
    							treeNode.children.forEach(function(child){
    								var html = '<span class="label label-default" style="float: left;margin: 1px;" id="'
    									+ child.id + '" title="'
    									+ child.name + '">'
    									+ child.name + '<i class="glyphicon glyphicon-remove" style="cursor:pointer;"></i></span>';
    								$('#' + conf.modalId + '_result').append(html);
    							})
    						}else{
    							treeNode.children.forEach(function(child){
    								$('#' + conf.modalId + '_result #' + child.id).remove();
    							})
    						}

    					}else{
    						//集团领导选中时执行
    						if(treeNode.checked){
    							if(treeNode.name == "集团领导"){
    								if($('#' + conf.modalId + '_body').html() == "    " || $('#' + conf.modalId + '_body').html() == null){
    									doSearchChildByOrg(treeNode.id);
    								}
    							}else{
    								var html = '<span class="label label-default" style="float: left;margin: 1px;" id="'
    									+ treeNode.id + '" title="'
    									+ treeNode.name + '">'
    									+ treeNode.name + '<i class="glyphicon glyphicon-remove" style="cursor:pointer;"></i></span>';
    								$('#' + conf.modalId + '_result').append(html);
    							}
    						}else{

    							if(treeNode.name == "集团领导"){

    							}else{
    								$('#' + conf.modalId + '_result #' + treeNode.id).remove();
    							}
    						}
    					}
