<%- include('header') %>
<!-- //abbreviation -->
<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <form action="" class="ui form segment" method="post" enctype="multipart/form-data">
      <div class="field required">
        <lable>用户名</lable>
        <input type="text" placeholder="用户名" name="name">
      </div>
      <div class="field required">
        <label for="">密码</label>
        <input type="text" placeholder="密码" name="password">
      </div>
      <div class="field required">
        <label for="">重复密码</label>
        <input type="text" placeholder="重复密码" name="repassword">
      </div>
      <div class="field required">
        <lable>性别</lable>
        <select name="repassword" id="" class="ui compact selection dropdown" name="gender">
          <option value="m">男</option>
          <option value="f">女</option>
          <option value="x">保密</option>
        </select>
      </div>
      <div class="field required">
        <label for="">头像</label>
        <input type="file" name="avtar">
      </div>
      <div class="field required">
        <label for="">个人简介</label>
        <textarea name="bio" cols="30" rows="5"></textarea>
      </div>
      <input type="submit" class="ui button fluid" value="注册">
    </form>
  </div>
</div>
<%- include('footer') %>
